# Toy data and toy scenario - providing proof for paper

In [87]:
# import package

import numpy as np
import pandas as pd
import itertools
from timeit import default_timer as timer

In [178]:
# 3. AFED = Accessibility of flow taking existing destinations

def AFED(flow_df, row_index): # AFAPF
    
    # rename teh columns so we can call them 
    flow_df = flow_df.rename(columns = {flow_df.columns[0]:'origin_ID', 
                                            flow_df.columns[1]:'dest_ID', 
                                            flow_df.columns[2]:'dist', 
                                            flow_df.columns[3]:'weight', 
                                            flow_df.columns[4]:'dest_mass'})
    # define O and D for each row the variables
    D = flow_df['dest_ID'][row_index]
    O = flow_df['origin_ID'][row_index]
    
    # get the list of possible destinations
    all_dest = (flow_df.query('origin_ID == @O')
                .query('weight > 0')
                ['dest_ID']
                .unique()
               )    
    
    # Create all destination flows 
    x1 = pd.DataFrame({'D': np.array([D]*len(all_dest), dtype=object), 
                       'dests':all_dest}).merge(flow_df, how='left', left_on=['D','dests'], right_on=['origin_ID','dest_ID'])
    
    # merge with the distances and masses 
    
    # Delete the flow to origin
    x1 = x1[~x1.dests.isin(list(O))]    

    # calculate the accessibility
    A = (x1['dist']*x1['dest_mass']).sum()

    return A

In [179]:
nodes = ['A','B','C','D','E']



all_combinations = pd.DataFrame( list( itertools.product(nodes,nodes))
                       ).rename(columns = {0:'origin_ID',
                                        1:'destination_ID'})

nodes = ['A','B','C','D','E']
destination_masses = [60,10,10,30,50]


masses = {'nodes': nodes,
        'Dest_masses': destination_masses
        }

masses = pd.DataFrame(masses, columns = ['nodes','Dest_masses'])
masses

  nodes  Dest_masses
0     A           60
1     B           10
2     C           10
3     D           30
4     E           50

In [180]:
nodes = ['A','B','C','D','E']



all_combinations = pd.DataFrame( list( itertools.product(nodes,nodes))
                       ).rename(columns = {0:'origin_ID',
                                        1:'destination_ID'})
all_combinations

   origin_ID destination_ID
0          A              A
1          A              B
2          A              C
3          A              D
4          A              E
5          B              A
6          B              B
7          B              C
8          B              D
9          B              E
10         C              A
11         C              B
12         C              C
13         C              D
14         C              E
15         D              A
16         D              B
17         D              C
18         D              D
19         D              E
20         E              A
21         E              B
22         E              C
23         E              D
24         E              E

In [181]:
all_combinations['flow_volume_in_unipartite'] = [10,10,10,10,10,10,0,0,10,10,10,0,0,10,0,10,10,10,0,10,10,10,0,10,10]
all_combinations

   origin_ID destination_ID  flow_volume_in_unipartite
0          A              A                         10
1          A              B                         10
2          A              C                         10
3          A              D                         10
4          A              E                         10
5          B              A                         10
6          B              B                          0
7          B              C                          0
8          B              D                         10
9          B              E                         10
10         C              A                         10
11         C              B                          0
12         C              C                          0
13         C              D                         10
14         C              E                          0
15         D              A                         10
16         D              B                         10
17         D              C                         10
18         D              D                          0
19         D              E                         10
20         E              A                         10
21         E              B                         10
22         E              C                          0
23         E              D                         10
24         E              E                         10

In [182]:
all_combinations['exists_in_bipirtate'] = [0,0,10,10,10,
                          0,0,0,10,10,
                          0,0,0,0,0,
                          0,0,0,0,0,
                          0,0,0,0,0]

all_combinations['distances'] = [0,8,2,5,5,
                          8,0,10,7,4,
                          2,10,0,6,9,
                          5,7,6,0,9,
                          5,4,9,2,0]
all_combinations

,origin_ID,destination_ID,flow_volume_in_unipartite,exists_in_bipirtate,distances
0,A,A,10,0,0
1,A,B,10,0,8
2,A,C,10,10,2
3,A,D,10,10,5
4,A,E,10,10,5
5,B,A,10,0,8
6,B,B,0,0,0
7,B,C,0,0,10
8,B,D,10,10,7
9,B,E,10,10,4
10,C,A,10,0,2
11,C,B,0,0,10
12,C,C,0,0,0
13,C,D,10,0,6
14,C,E,0,0,9
15,D,A,10,0,5
16,D,B,10,0,7
17,D,C,10,0,6
18,D,D,0,0,0
19,D,E,10,0,9
20,E,A,10,0,5
21,E,B,10,0,4
22,E,C,0,0,9
23,E,D,10,0,2
24,E,E,10,0,0

In [183]:
all_combinations = all_combinations.merge(masses, how = 'left', left_on = 'destination_ID', right_on = 'nodes')
all_combinations

,origin_ID,destination_ID,flow_volume_in_unipartite,exists_in_bipirtate,distances,nodes,Dest_masses
0,A,A,10,0,0,A,60
1,A,B,10,0,8,B,10
2,A,C,10,10,2,C,10
3,A,D,10,10,5,D,30
4,A,E,10,10,5,E,50
5,B,A,10,0,8,A,60
6,B,B,0,0,0,B,10
7,B,C,0,0,10,C,10
8,B,D,10,10,7,D,30
9,B,E,10,10,4,E,50
10,C,A,10,0,2,A,60
11,C,B,0,0,10,B,10
12,C,C,0,0,0,C,10
13,C,D,10,0,6,D,30
14,C,E,0,0,9,E,50
15,D,A,10,0,5,A,60
16,D,B,10,0,7,B,10
17,D,C,10,0,6,C,10
18,D,D,0,0,0,D,30
19,D,E,10,0,9,E,50
20,E,A,10,0,5,A,60
21,E,B,10,0,4,B,10
22,E,C,0,0,9,C,10
23,E,D,10,0,2,D,30
24,E,E,10,0,0,E,50

In [184]:
flow1 = all_combinations.iloc[:,[0,1,4,2,6]]
flow2 = all_combinations.iloc[:,[0,1,4,3,6]]

In [185]:
start = timer()

A_ij = []
for idx in flow1.index:
    A = AFED(flow_df=flow1, row_index=idx)
    A_ij.append(A)

end = timer()

all_combinations['acc_uni'] = pd.Series(A_ij)
print('time: ' + str(end - start))

time: 0.20596170000499114

In [186]:
start = timer()

A_ij = []
for idx in flow2.index:
    A = AFED(flow_df=flow2, row_index=idx)
    A_ij.append(A)

end = timer()

all_combinations['acc_bi'] = pd.Series(A_ij)
print('time: ' + str(end - start))

time: 0.19772209999791812

In [187]:
all_combinations

,origin_ID,destination_ID,flow_volume_in_unipartite,exists_in_bipirtate,distances,nodes,Dest_masses,acc_uni,acc_bi
0,A,A,10,0,0,A,60,500,420
1,A,B,10,0,8,B,10,510,510
2,A,C,10,10,2,C,10,730,630
3,A,D,10,10,5,D,30,580,510
4,A,E,10,10,5,E,50,190,150
5,B,A,10,0,8,A,60,400,400
6,B,B,0,0,0,B,10,890,410
7,B,C,0,0,10,C,10,750,630
8,B,D,10,10,7,D,30,750,450
9,B,E,10,10,4,E,50,360,60
10,C,A,10,0,2,A,60,150,0
11,C,B,0,0,10,B,10,690,0
12,C,C,0,0,0,C,10,300,0
13,C,D,10,0,6,D,30,300,0
14,C,E,0,0,9,E,50,360,0
15,D,A,10,0,5,A,60,350,0
16,D,B,10,0,7,B,10,780,0
17,D,C,10,0,6,C,10,670,0
18,D,D,0,0,0,D,30,880,0
19,D,E,10,0,9,E,50,430,0
20,E,A,10,0,5,A,60,230,0
21,E,B,10,0,4,B,10,690,0
22,E,C,0,0,9,C,10,400,0
23,E,D,10,0,2,D,30,370,0
24,E,E,10,0,0,E,50,400,0

In [188]:
flow3 = all_combinations.iloc[:,[0,1,4,2,6]]
flow3.iloc[3,3] = 0
flow4 = all_combinations.iloc[:,[0,1,4,3,6]]
flow4.iloc[3,3] = 0

C:\Users\tk18583\Anaconda3\envs\CD\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [189]:
flow3

   origin_ID destination_ID  distances  flow_volume_in_unipartite  Dest_masses
0          A              A          0                         10           60
1          A              B          8                         10           10
2          A              C          2                         10           10
3          A              D          5                          0           30
4          A              E          5                         10           50
5          B              A          8                         10           60
6          B              B          0                          0           10
7          B              C         10                          0           10
8          B              D          7                         10           30
9          B              E          4                         10           50
10         C              A          2                         10           60
11         C              B         10                          0           10
12         C              C          0                          0           10
13         C              D          6                         10           30
14         C              E          9                          0           50
15         D              A          5                         10           60
16         D              B          7                         10           10
17         D              C          6                         10           10
18         D              D          0                          0           30
19         D              E          9                         10           50
20         E              A          5                         10           60
21         E              B          4                         10           10
22         E              C          9                          0           10
23         E              D          2                         10           30
24         E              E          0                         10           50

In [190]:
flow3.iloc[4,3]

10

In [191]:
start = timer()

A_ij = []
for idx in flow3.index:
    A = AFED(flow_df=flow3, row_index=idx)
    A_ij.append(A)

end = timer()

all_combinations['acc_uni_ch'] = pd.Series(A_ij)
print('time: ' + str(end - start))

time: 0.201819499998237

In [192]:
start = timer()

A_ij = []
for idx in flow4.index:
    A = AFED(flow_df=flow4, row_index=idx)
    A_ij.append(A)

end = timer()

all_combinations['acc_bi_ch'] = pd.Series(A_ij)
print('time: ' + str(end - start))

time: 0.19625340000493452

In [193]:
#all_combinations['dist*mass'] = all_combinations['distances']*all_combinations['Dest_masses']
all_combinations

,origin_ID,destination_ID,flow_volume_in_unipartite,exists_in_bipirtate,distances,nodes,Dest_masses,acc_uni,acc_bi,acc_uni_ch,acc_bi_ch
0,A,A,10,0,0,A,60,500,420,350,270
1,A,B,10,0,8,B,10,510,510,300,300
2,A,C,10,10,2,C,10,730,630,550,450
3,A,D,10,10,5,D,30,580,510,580,510
4,A,E,10,10,5,E,50,190,150,130,90
5,B,A,10,0,8,A,60,400,400,400,400
6,B,B,0,0,0,B,10,890,410,890,410
7,B,C,0,0,10,C,10,750,630,750,630
8,B,D,10,10,7,D,30,750,450,750,450
9,B,E,10,10,4,E,50,360,60,360,60
10,C,A,10,0,2,A,60,150,0,150,0
11,C,B,0,0,10,B,10,690,0,690,0
12,C,C,0,0,0,C,10,300,0,300,0
13,C,D,10,0,6,D,30,300,0,300,0
14,C,E,0,0,9,E,50,360,0,360,0
15,D,A,10,0,5,A,60,350,0,350,0
16,D,B,10,0,7,B,10,780,0,780,0
17,D,C,10,0,6,C,10,670,0,670,0
18,D,D,0,0,0,D,30,880,0,880,0
19,D,E,10,0,9,E,50,430,0,430,0
20,E,A,10,0,5,A,60,230,0,230,0
21,E,B,10,0,4,B,10,690,0,690,0
22,E,C,0,0,9,C,10,400,0,400,0
23,E,D,10,0,2,D,30,370,0,370,0
24,E,E,10,0,0,E,50,400,0,400,0

In [195]:
all_combinations['diff_uni'] = all_combinations['acc_uni'] - all_combinations['acc_uni_ch']
all_combinations['diff_bi'] = all_combinations['acc_bi'] - all_combinations['acc_bi_ch']

In [196]:
all_combinations

,origin_ID,destination_ID,flow_volume_in_unipartite,exists_in_bipirtate,distances,nodes,Dest_masses,acc_uni,acc_bi,acc_uni_ch,acc_bi_ch,diff_uni,diff_bi
0,A,A,10,0,0,A,60,500,420,350,270,150,150
1,A,B,10,0,8,B,10,510,510,300,300,210,210
2,A,C,10,10,2,C,10,730,630,550,450,180,180
3,A,D,10,10,5,D,30,580,510,580,510,0,0
4,A,E,10,10,5,E,50,190,150,130,90,60,60
5,B,A,10,0,8,A,60,400,400,400,400,0,0
6,B,B,0,0,0,B,10,890,410,890,410,0,0
7,B,C,0,0,10,C,10,750,630,750,630,0,0
8,B,D,10,10,7,D,30,750,450,750,450,0,0
9,B,E,10,10,4,E,50,360,60,360,60,0,0
10,C,A,10,0,2,A,60,150,0,150,0,0,0
11,C,B,0,0,10,B,10,690,0,690,0,0,0
12,C,C,0,0,0,C,10,300,0,300,0,0,0
13,C,D,10,0,6,D,30,300,0,300,0,0,0
14,C,E,0,0,9,E,50,360,0,360,0,0,0
15,D,A,10,0,5,A,60,350,0,350,0,0,0
16,D,B,10,0,7,B,10,780,0,780,0,0,0
17,D,C,10,0,6,C,10,670,0,670,0,0,0
18,D,D,0,0,0,D,30,880,0,880,0,0,0
19,D,E,10,0,9,E,50,430,0,430,0,0,0
20,E,A,10,0,5,A,60,230,0,230,0,0,0
21,E,B,10,0,4,B,10,690,0,690,0,0,0
22,E,C,0,0,9,C,10,400,0,400,0,0,0
23,E,D,10,0,2,D,30,370,0,370,0,0,0
24,E,E,10,0,0,E,50,400,0,400,0,0,0

# Manually check

In [106]:
all_combinations[(all_combinations['origin_ID'] == 'A') & (all_combinations['destination_ID'] == 'E')]

,origin_ID,destination_ID,flow_volume_in_unipartite,exists_in_bipirtate,distances,nodes,Dest_masses,acc_uni,acc_bi,acc_uni_ch,acc_bi_ch
4,A,E,10,10,5,E,50,490,150,490,150

In [107]:
all_combinations[(all_combinations['origin_ID'] == 'E')]

,origin_ID,destination_ID,flow_volume_in_unipartite,exists_in_bipirtate,distances,nodes,Dest_masses,acc_uni,acc_bi,acc_uni_ch,acc_bi_ch
20,E,A,10,0,5,A,60,480,0,480,0
21,E,B,10,0,4,B,10,890,0,890,0
22,E,C,0,0,9,C,10,850,0,850,0
23,E,D,10,0,2,D,30,820,0,820,0
24,E,E,10,0,0,E,50,400,0,400,0

AB

A  C B 10 * 10 = 100
A  D B 10 * 7 = 70
A  E B 10 * 4 = 40

210

In [108]:
D = all_combinations['destination_ID'][4]
O = all_combinations['origin_ID'][4]
print(O)
print(D)

A
E

In [110]:
all_dest = (all_combinations.query('origin_ID == @O')
                .query('flow_volume_in_unipartite > 0')
                ['destination_ID']
                .unique()
               )    
all_dest

array(['A', 'B', 'C', 'D', 'E'], dtype=object)

In [158]:
x1 = pd.DataFrame({'D': np.array([D]*len(all_dest), dtype=object), 
                       'dests':all_dest}).merge(all_combinations, how='left', left_on=['D','dests'], right_on=['origin_ID','destination_ID'])
x1.loc[:,['D','dests','flow_volume_in_unipartite','distances','Dest_masses']]

   D dests  flow_volume_in_unipartite  distances  Dest_masses
0  E     A                         10          5           60
1  E     B                         10          4           10
2  E     C                          0          9           10
3  E     D                         10          2           30
4  E     E                         10          0           50

In [159]:
x1 = x1[~x1.dests.isin(list(O))]

In [160]:
x1.loc[:,['D','dests','flow_volume_in_unipartite','distances','Dest_masses']]

   D dests  flow_volume_in_unipartite  distances  Dest_masses
1  E     B                         10          4           10
2  E     C                          0          9           10
3  E     D                         10          2           30
4  E     E                         10          0           50

In [161]:
A = (x1['distances']*x1['Dest_masses']).sum()
A

190